.wishlist-thanks {
	border: 1px solid #4E9A3A;
	background-color: #cce6ff;
	padding: 10px;
	color: #4E9A3A;
	margin: 20px;
}

.wishlist-item {
	width: 260px;
	height: auto;
	margin: 0px 10px;
	float: left;
}
.wishlist-item h3 {
	font-size: 18px;
	line-height: 21px;
	margin-top: 6px;
}
.wishlist-hr {
	width: 260px;
	margin:0px;
}
.wishlist-image-form {
	padding-bottom: 8px;
}

.wishlist-image-form img {
	padding: 12px;
	width: 100px; 
	height: auto;
	text-align: center;
}

.wishlist-promised {
	font-weight: bold;
	font-size: 16px;
	color: #F00;
}

.wishlist-label,
.wishlist-form-label {
	font-weight: bold;
	line-height: 1.4em;
}

.wishlist-form table {
	border-collapse: collapse;
}

.wishlist-form-submit-button {
	text-align: center;
}

td.wishlist-double-span {
	text-align: center;
}
.wishlink {
	margin: 20px 0px 0px 0px;
	height: 44px;
}
.wishlink strong {
	margin: 6px;
	font-size: 14px;
}
.wishlink img {
	margin: -12px 0px 0px 0px;
}
h2.wishlist {
	font-size: 28px;
	color: #000;
	margin: 20px 0px 6px 0px;
	background-color: #3389d7;
	padding: 4px 6px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;	
}