.wishlist-thanks {
	border: 1px solid #4E9A3A;
	background-color: #cce6ff;
	padding: 10px;
	color: #4E9A3A;
	margin: 20px;
}
.post-content h2.wishlist {
	background-color: #006acd;
	color: #FFF;
	padding: 4px 8px;
	margin: 8px 0px;
}
.post-content .wishlist-item {
	width: 96%;
	height: auto;
	margin: 0 2%;
	display: block;
	vertical-align: top;
}
.post-content .wishlist-item h3 {
	font-size: 18px !important;
	line-height: 21px;
	margin: 8px 0px;
}
.post-content .wishlist-item p {
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 1em;
}
.post-content hr.wishlist-hr {
	width: 100%;
    height: 2px;
    background: #ddd;
    margin: 1em 0;
    border: 0;
}
.wishlist-image-form:after {
	clear: both;
}
.wishlist-image-form-left {
	width: 46%;
	margin: 0 2%;
	float: left;
}
.wishlist-image-form-right {
	width: 46%;
	margin: 0 2%;
	float: left;
}

.wishlist-image-form img {
	padding: 0;
	width: 100%; 
	max-width: 250px !important;
	height: auto;
	text-align: center;
}

.wishlist-promised {
	font-weight: bold;
	font-size: 16px;
	color: #F00;
}

.wishlist-label,
.wishlist-form-label {
	font-weight: bold;
	line-height: 1.4em;
}

.post-content .wishlist-form table {
	border-collapse: collapse;
}
.post-content .wishlist-form table tbody > tr:nth-child(odd) > td {
    background: transparent;
}
.post-content .wishlist-form td {
    border-bottom: none;
}
.post-content input.wishlist-form-input[type="text"], .post-content input.wishlist-form-input[type="email"] {
    width: 100%;
    padding: 6px;
    font-size: 0.85em;
    color: #333;
    border: 2px solid #eee;
    background: #fdfdfd;
    border-radius: 0px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    -webkit-appearance: none;
}
.post-content input.wishlist-form-input[type="text"]:focus, .post-content input.wishlist-form-input[type="email"]:focus {
    background: #fdfdfd;
    outline: none;
}
td.wishlist-double-span {
	text-align: center;
}
td.wishlist-double-span input.wishlist-form-submit-button {
    padding: 10px 18px;
    margin: 0;
    border: none;
    background: #006acd;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    -webkit-appearance: none;
    border-radius: 16px;
}
.wishlink {
	margin: 20px 0px 0px 0px;
	height: 36px;
}
.wishlink strong {
	margin: 6px;
	font-size: 18px;
}
.wishlink img {
	margin: -12px 0px 0px 0px;
	width: 40px;
}

@media only screen and (max-width : 768px) {
	.wishlist-image-form-left {
		width: 96%;
		margin: 0 2%;
		float: none;
	}
	.wishlist-image-form-right {
		width: 96%;
		margin: 0 2%;
		float: none;
	}
	.post-content .wishlist-item p {
		font-size: 14px;
	}
}

@media only screen and (max-width : 415px) {

}